@import "~react-bulma-components/dist/react-bulma-components.min.css";
@import "~hover.css/css/hover-min.css";

@font-face {
  font-family: 'MullerNarrowLight';
  src: url("../fonts/MullerNarrowDemo-ExtraBold.otf");
}

.navbar-item {
  font-weight: bold;
}

.brand-text {
  font-weight: 200;
}

nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}

#root {
  background-color: #ECF0F3;
}

.navbar-item > a {
  font-weight: bold;
  color: #000;
}

.container .navbar-brand .navbar-start {
  display: flex;
  flex-direction: row;
}

.dropdown-trigger > button {
  width: 250px;
}

.dropdown-menu > div {
  padding: 10px;
}

.dropdown-menu > div > div.field > label {
  text-align: center;
}

.dropdown-content {
  padding-top: 55px;
}

.is-9.column {
  width: 100%
}

.select-panel.dropdown {
  display: flex;
  justify-content: center;
}

.select-panel.control-buttons {
  display: flex;
  justify-content: flex-end;
}


.print-content {
  display: block;
  margin: 30px;
  padding: 5px;
}

.print-card {
  border: 1px solid black;
  width: 525px;
  height: 359px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.print-card-content {
  font-family: MullerNarrowLight, serif;
}

.print-card-header {
  margin: 8px;
  font-size: 20px;
  display: flex;
}

.print-card-header-item {
  font-size: 20px;
  justify-content: center;
  flex: 1;
  display: flex;
}

.print-card-header-item:first-child > span {
  margin-right: auto;
}

.print-card-header-item:last-child > span {
  margin-left: auto;
}

.print-card-description {
  text-align: center;
  margin: 10px;
  font-size: 15px;
}

.print-card-summary {
  padding-top: 10px;
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.dropdown-content {
  max-height: 14em;
  overflow: auto;
}
